//VARIABLES

$color-grey-lt: #676565;
$color-grey: #454545;
$color-blue: #78c1f3;
$color-blue-dk: #29a3f5;
$color-green: #9be8d8;
$color-green-lt: #e2f6ca;
$color-yellow: #f8fdcf;

$serif-header: 'Roboto Slab', serif;
